<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Todo</title>
</head>
<body>
    <form action="/submittodoitem" method="POST">
        <input name="itemName" placeholder="Item Name">
        <input name="itemDescription" placeholder="Item Description">
        <input name="itemID" placeholder="Item ID">
        <input name="itemUUID" placeholder="Item UUID">
        <button type="submit">Submit</button>
    </form>
</body>
</html>